body
{
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 60px 0 0 0;
}
 
#page {
    margin: 0px auto;
    width: 100%;
}
 
#cabecera {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #333;
    font-size: 20px;
    color: #FFFFFF;
}
 
#content {
    height: 100%;
    overflow: auto;
    padding: 0% 1% 0% 1%;
    width: 98%;
}
